<header class="text-25 fw-600" style="height: 80px">
  <img
    src="https://imagedelivery.net/dIKhvGtesTiRSxhQ2oKWkA/268318de-d485-41cb-3690-8a63fd489600/public"
    alt=""
    width="100%"
    height="100%"
  />
</header>
<div
  style="
    color: #ffffff;
    background-image: url('https://imagedelivery.net/dIKhvGtesTiRSxhQ2oKWkA/c485fa26-ad7f-4bb9-d59f-b86c99bc7900/public');
    background-size: cover;
    background-position: center;
    padding: 20px;
  "
>
  <p>
    <span style="color: #000000"><strong>Booking Number-</strong></span>
  </p>
  <p><strong style="color: #000000">Booking Date:</strong></p>
  <table
    style="
      width: 100.171%;
      height: 506px;
      border: 1px solid rgb(177, 177, 177);
      border-collapse: collapse;
    "
  >
    <tbody>
      <tr style="height: 215.5px">
        <td
          style="
            width: 100.034%;
            height: 215.5px;
            padding-left: 15px;
            border-bottom: 1px solid rgb(177, 177, 177);
            border-collapse: collapse;
          "
          colspan="2"
        >
          <p>
            <strong>Tour Package:</strong
            ><span style="font-weight: 400">
              Capri Island Day Trip from Rome</span
            >
          </p>
          <br />
          <p><strong>ROME-NEPOLI-CAPRI-ROME</strong></p>
          <p><strong>PAX:&nbsp;</strong></p>
          <p>
            <strong
              >Passenger
              Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong
            >
          </p>
          <p>
            <strong
              >Departure Date:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Departure
              Time:&nbsp;&nbsp;</strong
            >
          </p>
        </td>
      </tr>
      <tr style="height: 264.667px">
        <td
          style="
            width: 74.7728%;
            height: 264.667px;
            padding-left: 15px;
            border-right: 1px solid rgb(177, 177, 177);
            border-collapse: collapse;
          "
        >
          <p>
            <strong>Date and Time of Departure:</strong
            ><span style="font-weight: 400"> [Date]</span>
          </p>
          <p>
            <strong>Number of Travelers:</strong
            ><span style="font-weight: 400"> [Number of Travelers]</span>
          </p>
          <p>
            <strong>Seat Number: </strong
            ><span style="font-weight: 400">01, 02, 05, 06</span>
          </p>
          <br />
          <p>
            <strong
              >Adults (18Y-65Y):
              1*185&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong
            >
          </p>
          <p><strong>Youth(7Y-17Y)&nbsp; &nbsp; : 1*149&nbsp;</strong></p>
          <p><strong>Children(2Y-6Y) :&nbsp; 1*110</strong></p>
          <p>
            <strong>Total Cost: </strong
            ><span style="font-weight: 400">668.00</span>
          </p>
        </td>
        <td style="width: 25.2613%; height: 264.667px">
          <p style="text-align: center">
            <span style="font-weight: 400">QR CODE</span>
          </p>
        </td>
      </tr>
    </tbody>
  </table>

  <p style="text-align: left">
    <strong>Cancellation policy:&nbsp; </strong
    ><span style="font-weight: 400"
      >We will charge a cancellation fee of 100% if booking </span
    ><span style="font-weight: 400"
      >is cancelled 1 day or less before the event.</span
    >
  </p>
  <p>
    <strong>Refund Window:</strong
    ><span style="font-weight: 400">
      To receive a full refund, please cancel at least 24 hours before the
      experience&nbsp;start&nbsp;date.</span
    >
  </p>
  <p><strong>Contact Information:</strong></p>
  <p>
    <span style="font-weight: 400"
      >If you have any questions or need further assistance, please feel free to
      contact our customer service team:</span
    >
  </p>
  <ul>
    <li style="font-weight: 400" aria-level="1">
      <strong>Email:</strong
      ><span style="font-weight: 400"> info@dreamtourism.co.uk</span>
    </li>
    <li style="font-weight: 400" aria-level="1">
      <strong>Phone:</strong
      ><span style="font-weight: 400"> +44 7549 293108</span>
    </li>
    <li style="font-weight: 400" aria-level="1">
      <strong>Emergency Contact:</strong
      ><span style="font-weight: 400"> [Emergency Contact Number if any]</span>
    </li>
  </ul>
</div>
<footer class="text-25 fw-600" style="height: 80px">
  <img
    src="https://imagedelivery.net/dIKhvGtesTiRSxhQ2oKWkA/f110cc67-8147-4727-a270-a0f9e7310300/public"
    alt=""
    width="100%"
    height="100%"
  />
</footer>
